<nb-card>
  <nb-card-header class="custom-form-title">Create a sensor</nb-card-header>
  <nb-card-body class="row room-top-form">
    <div class="input-group col-12 col-sm-10">
      <label>Sensor name</label>
      <input type="text" nbInput fullWidth placeholder="Sensor name">
    </div>
    <div class="input-group col-12 col-sm-10">
      <label>Type</label>
      <input type="text" nbInput fullWidth placeholder="Type">
    </div>
    <div class="input-group col-12 col-sm-10">
      <label>Unit</label>
      <input type="text" nbInput fullWidth placeholder="Unit">
    </div>
    <div class="input-group col-12 col-sm-10">
      <label>Max</label>
      <input type="text" nbInput fullWidth placeholder="Max">
    </div>
    <div class="input-group col-12 col-sm-10">
      <label>Min</label>
      <input type="text" nbInput fullWidth placeholder="Min">
    </div>
    <div class="col-12 col-sm-2">
      <button nbButton hero status="success" fullWidth>Save</button>
    </div>
  </nb-card-body>
</nb-card>
