<nb-card *ngFor="let user of users$ | async">
  <nb-card-body class="row">
    <!-- size="small" "large" "large" "xlarge" -->
    <div class="col-xs-12 col-sm-3">
      <nb-user
      size="large"
      [badgeStatus]="user.badgeStatus"
      [badgeText]="user.badgeText"
      badgePosition="bottom right"
      [name]="user.displayName"
      [title]="user.title"
      [picture]="user.photoURL"
      ></nb-user>
    </div>
    <ng-container *nbIsGranted="['edit', 'admin']">
      <div class="col-xs-12 col-sm-3">
        <button nbButton size="xsmall" status="success" (click)="chageActive(user, !user.isValid)">
          {{ !user.isValid ? "Ativar": "Desativar" }}
        </button>
      </div>
      <div class="col-xs-12 col-sm-3">
        <button nbButton size="xsmall" status="primary" (click)="chageAdmin(user, !user.isAdmin)">
          {{ !user.isAdmin ? "Promover a Administrador": "Remover Administrador" }}
        </button>
      </div>
    </ng-container>
    <div class="col-xs-12 col-sm-3" *nbIsGranted="['edit', 'user']">
      <a [routerLink]="['/users', user.uid]">Edit</a>
    </div>
  </nb-card-body>
</nb-card>
