@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  /deep/ .echart {
    height: 100%;
    width: 100%;
  }

   nb-card-header{
    border: none !important;
    padding: 25px;
  }

  .datepicker-chart{
    .form-group{
      input {
        width: 22rem;
      }

      label{
        margin-left: 10px;
        margin-right: 5px;
      }
    }
  }

  .custom-input-hist{
    height: calc(2rem + 20px) !important;
  }

  .report-name{
    margin-bottom: 20px;
  }
}


