table {
  width: 100%;
}
// td, th {
//   width: 25%;
// }
.room-top-form{
  display: flex;
  align-items: flex-end;
}

// .header-name,.cell-name{
//   width: 30%;
// }

// .header-type,.cell-type{
//   width: 20%;
// }
// .header-min,.cell-min,.header-max,.cell-max{
//   width: 10%;
// }

// .header-name-user,.cell-name-user{
//   width: 34%
// }

// .header-email-user,.cell-email-user{
//   width: 30%
// }

// .header-type-user,.cell-type-user{
//   width: 15%
// }
