html {
  font-size: 14px;
}

ngx-footer{
  justify-content: center !important;
}

nb-layout > div > div > div > nb-sidebar.menu-sidebar > div > .scrollable{
  padding-top: 0 !important;
}

nb-sidebar{
  margin-top: 0 !important;
}

.config-line{
  align-items: baseline;
  margin-bottom: 1.2rem;
}

.config-desc{
  display: block;
}

.config-val{
  display: block;
  font-size: 2.2rem;
}