html {
  font-size: 14px;
}

ngx-footer{
  justify-content: center !important;
}

nb-layout > div > div > div > nb-sidebar.menu-sidebar > div > .scrollable{
  padding-top: 0 !important;
}

nb-sidebar{
  margin-top: 0 !important;
}

.config-line{
  align-items: baseline;
  margin-bottom: 1.2rem;
}

.config-desc{
  display: block;
}

.config-val{
  display: block;
  font-size: 2.2rem;
}

mwl-gauge.gauge-chart {
  flex: 1;
  // padding: 10px;
  background-color: none;
  // margin: 7px;
  // border-radius: 3px;
  width: 13rem;
  position: absolute;
  margin: 0 auto;
  margin-top: 10px;

  color: nb-theme(color-fg-heading);


  & >.gauge > .dial{
    stroke: rgb(235, 239, 245);
    stroke-width: 5;
    fill: rgba(255,255,255,0);
  }

  & > .gauge > .value {
    stroke: #40dc7e;
    stroke-width: 5;
    fill: rgba(0,0,0,0);
  }

  & > .gauge > .value-text {
    display: none !important;
  }
}

// custom form
.custom-form{
  flex-direction: column;
  align-items: center;

  .input-group{
    margin-bottom: 28px;
  }
  
  .space-bt{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .socials {
    margin-top: 10px;
    & >  a{
      font-size: 1.6rem !important;
      padding: .4rem;
    }
  }

  .links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer-msg-return{
    text-align: center;
    margin-top: 15px;

    span{
      color: #a4abb3;
      font-weight: 600;
    }

    span:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.custom-form-title{
  text-align: center !important;
  font-size: 1.8rem !important;
  margin-bottom: 15px !important;
  border-left: #40dca3 10px solid;
  border-right: #40dca3 10px solid;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #40dc7e !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #40dc7e !important;
}

th.mat-header-cell:first-of-type,td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
  padding: 10px;
}

.left-inner-addon {
  position: relative;
}

.left-inner-addon{
    
  input {
    padding: 0.75rem 2rem !important;
  }
}

.left-inner-addon i {
  position: absolute;
  left: 0px;
  padding: 7px 3px;
  font-size: 2rem;
  pointer-events: none;
  color: #c6cdd4;
  font-weight: 600;
}

.no-padding{
  padding: 0;
}