.input-group{
  margin-bottom: 28px;
}

.login-form{
  flex-direction: column;
  align-items: center;
}

.forget-button{
  color: #40dc7e !important;

  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}

.login-form-title{
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.socials {
  margin-top: 10px;
  & >  a{
    font-size: 1.6rem !important;
    padding: .4rem;
  }
}

.footer-forgot{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-descrip{
  text-align: center;
  margin-bottom: 25px;
}
.return-btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  & > span{
    color: #40dc7e;
    font-weight: 600;
  }
}