<nb-card>
  <nb-card-header class="custom-form-title">{{ !passForgot ? "Log In": "Forgot Password" }}</nb-card-header>
  <nb-card-body>
    <div class="custom-form row">
      <span class="col-12 col-sm-10 col-md-8 col-lg-6 form-descrip" *ngIf="passForgot">Enter your email address and we’ll send a link to reset your password.</span>
      <div class="input-group col-12 col-sm-10 col-md-8 col-lg-6">
        <label>Email</label>
        <input type="text" nbInput fullWidth placeholder="Email">
      </div>
      <ng-container *ngIf="!passForgot">
        <div class="input-group col-12 col-sm-10 col-md-8 col-lg-6">
          <label>Password</label>
          <input type="password" nbInput fullWidth placeholder="Password">
        </div>
        <!-- <div class="input-group col-12 col-sm-10 col-md-8 col-lg-6 space-bt">
          <nb-checkbox name="remember">Remember Me</nb-checkbox>
          <span (click)="changeForgotBtn()" class="forget-button">Forgot Password?</span>
        </div> -->
      </ng-container>
      <div class="input-group col-12 col-sm-10 col-md-8 col-lg-6">
        <button nbButton status="success" class="btn-success btn-full-width" aria-disabled="false" tabindex="0" fullWidth (click)="googleLogin()">
          {{ !passForgot ? "Sign In": "Request Password" }}
        </button>
      </div>
      <div class="forgot-button row col-12 col-sm-10 col-md-8 col-lg-6" *ngIf="!passForgot">
        <span (click)="changeForgotBtn()">Forgot Password?</span>
      </div>
      <section aria-label="Social sign in" class="links ng-star-inserted col-12 col-sm-10 col-md-8 col-lg-6" *ngIf="!passForgot"> 
        <label>or enter with:</label>
        <div class="socials">
          <a (click)="googleLogin()" class="socicon-google with-icon ng-star-inserted"></a>
        </div>
      </section>
      <section class="col-12 col-sm-10 col-md-8 col-lg-6 return-btns" *ngIf="passForgot">
        <span (click)="changeForgotBtn()">Back to Log In</span>
        <span [routerLink]="['/users/register']">Register</span>
      </section>
      <span class="col-sm-12 col-md-3 footer-msg-return" *ngIf="!passForgot">Don't have an account? <span [routerLink]="['/users/register']">Register</span></span>
    </div>
  </nb-card-body>
</nb-card>
