<div class="row config-line">
  <div class="col-md-3 col-sm-4">
    <div class="form-group">
    <label>Room</label>
    <select class="form-control">
      <option>Minsk</option>
      <option>Gomel</option>
      <option>Brest</option>
      <option>Grodno</option>
      <option>Mogilev</option>
    </select>
  </div>
  </div>
  <div class="col-md-3 col-sm-12">
    <label class="config-desc">Current Date</label>
     <span class="config-val">26-03-2019</span>
  </div>
  <div class="col-md-3 col-sm-12">
    <label class="config-desc">Current Hour</label>
    <span class="config-val">18:03</span>
  </div>
</div>
<nb-card *ngFor="let site of (sites | async)">
  <nb-card-header>
    <h1>{{ site.name }}</h1>
  </nb-card-header>
  <nb-card-body>
    <div class="row" *ngIf="site?.actorsArray?.length" >
      <div class="col-xxxl-3 col-md-6 col-sm-12" *ngFor="let actor of site.actorsArray">
        <app-status-card
          type="primary"
          [title]="actor.location"
          [on]="(getActorValue(actor.key) | async)?.value"
          (valueChange)="setActorValue(actor.key, $event)"
          [iconClass]="actor.iconClass"
        >
        </app-status-card>
      </div>
    </div>
    <div class="row">
      <div class="col-xxxl-3 col-md-4 col-sm-12" *ngFor="let sensor of site.sensorsArray">
        <ngx-device-monitoring [title]="sensor.location" [sensorData]="getSensorValue(sensor.key) | async"></ngx-device-monitoring>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <app-status-card [title]="statusCard.title" [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </app-status-card>
  </div>
</div>

<div class="row">
  <div class="col">
    <ngx-device-monitoring devtype="temperature"></ngx-device-monitoring>
  </div>
  <div class="col">
    <ngx-device-monitoring devtype="humidity"></ngx-device-monitoring>
  </div>
  <div class="col">
    <ngx-device-monitoring devtype="electricity"></ngx-device-monitoring>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>
</div>
