<div class="row config-line">
  <div class="col-md-4 col-sm-6 col-12">
    <div class="form-group">
    <label>Room</label>
    <select class="form-control" [(ngModel)]="selectedRoom">
      <option *ngFor="let site of sites | async" [ngValue]="site">{{ site.name }}</option>
    </select>
  </div>
  </div>
  <div class="col-md-3 col-sm-3 col-6">
    <label class="config-desc">Current Date</label>
      <span class="config-val">{{ currentDate | async | date:'dd-MM-yy' }}</span>
  </div>
  <div class="col-md-3 col-sm-3 col-6">
    <label class="config-desc">Current Hour</label>
    <span class="config-val">{{ currentDate | async | date:'HH:mm' }}</span>
  </div>
</div>
<div class="row" *ngIf="selectedRoom?.actorsArray?.length">
  <div class="col" *ngFor="let actor of selectedRoom.actorsArray">
    <app-status-card
      type="primary"
      [title]="actor.location"
      [on]="(getActorValue(actor.key) | async)?.value"
      (valueChange)="setActorValue(actor.key, $event)"
      [iconClass]="actor.iconClass"
    >
    </app-status-card>
  </div>
</div>
<div class="row" *ngIf="selectedRoom?.sensorsArray?.length">
  <div class="col" *ngFor="let sensor of selectedRoom?.sensorsArray">
    <app-device-monitoring [title]="sensor.location" [sensorData]="getSensorValue(sensor.key) | async"></app-device-monitoring>
  </div>
</div>
<div class="row" *ngIf="selectedRoom?.sensorsArray?.length">
  <div class="col-md-12 col-sm-12" *ngFor="let sensor of selectedRoom?.sensorsArray">
    <nb-card>
      <nb-card-body>
        <div echarts [options]="getSensorChart(sensor) | async" class="echart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>
</div> -->
