<div [nbSpinner]="!site" nbSpinnerStatus="danger">

  <div class="row config-line">
  <div class="col-md-4 col-sm-4 col-12">
    <div class="form-group">
    <label>Room</label>
    <span class="config-val">{{ site?.name }}</span>
  </div>
  </div>
  <div class="col-md-3 col-sm-3 col-6">
    <label class="config-desc">Current Date</label>
      <span class="config-val">{{ currentDate | async | date:'dd-MM-yy' }}</span>
  </div>
  <div class="col-md-3 col-sm-3 col-6">
    <label class="config-desc">Current Hour</label>
    <span class="config-val">{{ currentDate | async | date:'HH:mm' }}</span>
  </div>
  <div class="col-12 col-md-2 col-sm-2" *nbIsGranted="['edit', 'admin']">
    <a nbButton hero status="success" fullWidth aria-disabled="false" routerLink="/rooms/{{ site?.key }}">
      Edit
    </a>
  </div>
</div>

<div class="row" *ngIf="site?.actorsArray?.length">
  <div class="col" *ngFor="let actor of site?.actorsArray">
    <app-status-card
      type="primary"
      [title]="actor.name"
      [on]="(actor.value$ | async)?.value"
      (valueChange)="actor.emiter($event)"
      [iconClass]="actor.iconClass"
    >
    </app-status-card>
  </div>
</div>

<div class="sensors-items" *ngIf="site?.sensorsArray?.length">
  <div class="sensor-item" *ngFor="let sensor of site?.sensorsArray">
    <app-device-monitoring
      [title]="sensor.name"
      [sensorData]="sensor.value$ | async"
      [sensor]="sensor"
    ></app-device-monitoring>
  </div>
</div>

<div class="row" *ngIf="site?.sensorsArray?.length">
  <div class="col-md-12 col-sm-12" *ngFor="let sensor of site?.sensorsArray">
    <nb-card>
      <nb-card-body>
        <div echarts [options]="sensor.chart$ | async" class="echart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

</div>
